@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Noto+Sans+SC:wght@700&family=Noto+Sans+JP:wght@700&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #fffeee;
  --color-foreground: #502e2e;
  --font-general: var(--font-general), "General Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-cjk: "Noto Sans SC", "Noto Sans JP", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-general);
}